<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.esports.mapper.PlayerMapper">

    <select id="selectAllPlayers" resultType="com.niit.esports.entity.Player">
        SELECT * FROM player
    </select>

    <select id="selectPlayerCount" resultType="int">
        SELECT COUNT(*) FROM player
    </select>
</mapper>